/* * {
    box-sizing: border-box;
} */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.section-menu {
    display: flex;
    background-color: blanchedalmond;
}
.logo img {
    max-width: 50%;
}
.nav-menu-list ul li {
    margin-left: 10px;
    display: inline-block;

}
.nav-menu-list ul li a {
    text-decoration: none;
    font-weight: 600;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.section-banner {
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.color-orange {
    color: orangered;
}
.content-flexible {
    max-width: 50%;
    padding-left: 5%;
}
.content-flexible p {
    text-align: justify;
}
.hire-me-btn {
    /* background-color: orangered; */
    background-image: linear-gradient(to right, rgb(250, 181, 155), orangered, rgb(250, 181, 155));
    color: #fff;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.content-flexible img {
    max-width: 80%;
}
.section-dream {
    display: flex;
    margin-top: 60px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}


         
