* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.section-menu {
    width: 100%;
    display: flex;
    /* background-color: blanchedalmond; */
    box-shadow: 0 5px 12px orange;
}
.logo {
    width: 50%;

}
.nav-menu-list {
    width: 50%;
}
.logo img {
    display: inline-block;
    width: 15%;
    margin-top: 5px;
}
.nav-menu-list ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
.nav-menu-list ul li a {
    text-decoration: none;
    font-weight: 600;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.content-flexible {
    display: flex;
}
.section-banner {
    margin-top: 8px;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.color-orange {
    color: orangered;
}
.half-content {
    max-width: 50%;
    padding-left: 6%;
}
.half-content p {
    text-align: justify;
}
.hire-me-btn {
    /* background-color: orangered; */
    background-image: linear-gradient(to right, rgb(250, 181, 155), orangered, rgb(250, 181, 155));
    color: #fff;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.half-content img {
    max-width: 85%;
}
.section-dream {
    margin-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}
.section-experience {
    margin-bottom: 100px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.experience-content {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px orange;
    
}
#experience-fullstack {
    border-left: 10px solid;
    border-image: linear-gradient(orange, orangered, rgb(250, 181, 155));
    border-image-slice: 1;
}
#experience-midlevel {
    border-left: 10px solid;
    border-image: linear-gradient(orangered, rgb(1, 248, 1), rgb(250, 181, 155));
    border-image-slice: 1;
}
.footer-content {
    box-shadow: 0 -5px 10px orange;
}
.footer-content {
    padding: 5px;
    text-align: center;
}




         
